 .row {
  position: relative;
  margin: 0 auto;
}

#djcg-team-loading-screen :before,
#djcg-team-loading-screen :after {
  position: absolute;
  content: '';
}

.beans {
  margin: 0 auto;
  width: 35px;
  height: 50px;
  background: #8b4c39;
  border-radius: 50%;
  animation: drop2 0.8s ease-in 2;
  animation-fill-mode: forwards;
}

.beans:before {
  left: 18px;
  width: 3px;
  border-radius: 50%;
  height: 98%;
  background: #5e2605;
  transform: rotate(-5deg);
}

.grinder {
  height: 120px;
  width: 200px;
  border-radius: 5px 5px 80px 80px;
  background: rgb(31 41 55);
}

.grinder:before {
  left: 40px;
  top: 110px;
  width: 120px;
  height: 15px;
  border-radius: 30px;
  background: rgb(31 41 55);
}

.grinder:after {
  z-index: 99;
  left: 40px;
  top: 125px;
  width: 120px;
  height: 15px;
  border-radius: 30px;
  background: rgb(31 41 55);
}

.grinder_bottom {
  margin: 15px auto 80px;
  height: 120px;
  width: 200px;
  border-radius: 80px 80px 5px 5px;
  background: #20B0A8;
  animation: rotate 5s ease-out 1;
}

.grinder_bottom:before {
  bottom: -50px;
  width: 200px;
  height: 60px;
  border-radius: 0px 0px 50px 50px;
  background: rgb(31 41 55);
}

.grinder_bottom:after {
  top: 10px;
  left: 10px;
  width: 180px;
  height: 100px;
  border-radius: 85px 85px 0px 0px;
  background: rgba(0, 0, 0, 0);
  animation: fill 4s ease-in-out 1;
  animation-delay: 0.75s;
}

@keyframes fill {
  0% {
    border-bottom: 0px solid #8b4c39;
  }
  50% {
    border-bottom: 80px solid #8b4c39;
  }
  60% {
    border-bottom: 80px solid #8b4c39;
  }
  90% {
    border-bottom: 0px solid #8b4c39;
  }
  100% {
    border-bottom: 0px solid #8b4c39;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(0deg);
  }
  65% {
    transform: translate(0px, 120px) rotate(180deg);
  }
  90% {
    transform: translate(0px, 120px) rotate(180deg);
  }
  100% {
    transform: translate(0px, 0px) rotate(0deg);
  }
}

.v60 {
  z-index: 99;
  width: 250px;
  height: 170px;
  border-top: 140px solid rgb(31 41 55);
  border-left: 60px solid transparent;
  border-right: 60px solid transparent;
  border-radius: 5px;
}

.v60:before {
  top: -135px;
  right: -90px;
  width: 80px;
  height: 115px;
  border: 15px solid rgb(31 41 55);
  border-radius: 50%;
  transform: rotate(45deg);
}

.v60:after {
  position: absolute;
  z-index: 99;
  content: '';
  width: 220px;
  height: 15px;
  background: rgb(31 41 55);
  left: -45px;
  border-radius: 60px;
}

.drip {
  margin: 0 auto 10px;
  width: 20px;
  height: 20px;
  background: #8b4c39;
  border-radius: 0 50% 50% 50%;
  animation: drop 1s ease-in infinite;
  animation-delay: 4s;
  transform: translate(0px, -110px);
}

@keyframes drop {
  0% {
    transform: translate(0px, -110px) rotate(45deg);
  }
  100% {
    transform: translate(0px, 130px) rotate(45deg);
  }
}

@keyframes drop2 {
  0% {
    transform: translate(0px, -50vh);
  }
  100% {
    transform: translate(0px, 130px);
  }
}

.item.hide {
  display: none;
}

.cup {
  margin: 0 auto;
  width: 190px;
  height: 150px;
  background: rgb(31 41 55);
  border-radius: 5px 5px 80px 80px;
}

.cup:after {
  top: 10px;
  right: -45px;
  width: 60px;
  height: 80px;
  border: 15px solid rgb(31 41 55);
  border-radius: 70px;
}

svg .steam { 
	animation: radiate 520s infinite linear,  faded infinite 4s linear; 
	stroke: #f98110;
  fill: none;
  stroke-width: 10;
  stroke-linecap:round;
  stroke-linejoin:round;
  opacity: 0.5;
}

#steam-1 {  animation: radiate 220s infinite linear, faded infinite 3s linear; }
#steam-2 {  animation: radiate 280s infinite linear; }
#steam-3 { animation: radiate 250s infinite linear; }

@keyframes radiate {
  0% { stroke-dashoffset: 1px;  }
  100% { stroke-dashoffset: 10000px; }
}
@keyframes faded {
  0% { opacity: 0.3; }
  50% { opacity: 0.2; }
  100% { opacity: 0.3; }
}

.fade-in {
  opacity: 1!important;
}
.bg-animated-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}
.fade-in, .bg-animated-image {
  transition: all 1s ease-in;
}
